.home-items-wrap {
  margin: 15px;
  padding: 10px;
  background: #eee;
  cursor: pointer;
}
.product-cnt {
  margin: 15px;
  padding: 10px;
  background: #eee;
}
.cart-header-cnt {
  margin: 15px;
  padding: 10px;
}
